<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bon de commande</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Bon de commande</h1>
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{rows}}
        </tbody>
    </table>
    <p>total: {{totalPrice}} €</p>
</body>
</html>
